.Rproj.user
.Rhistory
.RData
.Ruserdata
data/**/*.nc
data/**/*.zip
data/**/*.Rds
data/Cnidaria_CatalanCoast.csv
data/MHW_cat_pixel_monthly.RData
data/MHW_cat_pixel_annual.RData
data/MHW_cat_daily_annual.RData
data/MHW_cat_summary_annual.RData
talks/*.html