.Rproj.user
.Rhistory
.RData
.Ruserdata
data/**/*.nc
data/**/*.zip
data/**/*.Rds
data/MME_NW_SW.csv
data/MME_MHW_Plot_1A.csv
data/MME_MHW_Plot_1B.csv
data/MME_MHW_Plot_2A.csv
data/MME_MHW_Plot_2B.csv
data/MME_MHW.csv
data/Cnidaria_CatalanCoast.csv
data/MHW_cat_pixel_monthly.RData
data/MHW_cat_pixel_annual.RData
data/MHW_cat_daily_annual.RData
data/MHW_cat_summary_annual.RData
data/MHW_cat_daily_annual_JJASON.RData
data/MHW_cat_pixel_annual_JJASON.RData
data/MHW_cat_summary_annual_JJASON.RData
data/MME_MHWs_relationship_species_selection.csv
data/UPDATED_MassMortalityEvents15-19_30032021.csv
data/Collaborative_tasks_version_database_protected - MME dataset.csv
data/extract/levant_pixels.csv
talks/*.html
